.footer {
    background-color: #333; /* Fondo oscuro */
    color: white; /* Texto en blanco */
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-logo-img {
    width: 50px; /* Tamaño del logo */
    height: 50px;
    margin-right: 10px;
    border-radius: 50%; /* Logo redondo */
  }
  
  .footer-links {
    margin-bottom: 20px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    transition: color 0.3s; /* Transición al cambiar de color */
  }
  
  .footer-links a:hover {
    color: #4CAF50; /* Color verde al pasar el cursor */
    text-decoration: underline;
  }
  
  .footer-contact {
    margin-bottom: 20px;
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  .footer-social p {
    margin: 0;
    font-size: 1rem;
  }
  
  .footer-social a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s; /* Transición de color */
  }
  
  .footer-social a:hover {
    color: #4CAF50; /* Color verde al pasar el cursor */
    text-decoration: underline;
  }
  
  .footer-bottom {
    border-top: 1px solid #555; /* Línea de separación */
    padding-top: 10px;
    font-size: 0.9rem;
    text-align: center;
  }
  