<div>
  <h2 *ngIf="detallecompraId == 0">Agregar Detalle Compra</h2>
  <h2 *ngIf="detallecompraId > 0">Editar Detalle Compra</h2>    
</div>
<br>
<form [formGroup]="addEditDetallecompra">
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput formControlName="id" readonly="true">
  </mat-form-field>
  <br><br>
  
  <mat-form-field>
    <mat-label>Compra</mat-label>
    <mat-select formControlName="buysId">
      <mat-option *ngFor="let buys of buyss" [value]="buys.id">
        {{ buys.orderDate | date }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <br><br>  
  <mat-form-field>
    <mat-label>Producto</mat-label>
    <mat-select formControlName="productId">
      <mat-option *ngFor="let product of products" [value]="product.id">
        {{ product.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br><br>

  <mat-form-field>
    <mat-label>Cantidad</mat-label>
    <input matInput formControlName="quantity" type="number">
  </mat-form-field>
  <br><br>

  <mat-form-field>
    <mat-label>SubTotal</mat-label>
    <input matInput formControlName="subtotal" type="number">
  </mat-form-field>
  <br><br>
  
  <button mat-stroked-button routerLink="/detallecompra">Cancelar</button>
  <button mat-raised-button color="primary" (click)="grabarDetalleCompra()">Grabar</button>
</form>
